#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
_ReSharper*/
[Tt]est[Rr]esult*

#Ignore project folders
bin/
intermediate/
lib/
stuff/
src/ipch/
obj/
src/doxygen/doxygen-warnings.txt
code-weg/
Underworld/code-weg/

#Ignore generated ribbon files
src/Client/WorldBuilder/res/MainFrameRibbon.bml
src/Client/WorldBuilder/res/MainFrameRibbon.h
src/Client/WorldBuilder/res/MainFrameRibbon.rc
src/.vs/
src/packages/
