<?xml version='1.0'?>
<!--

  MultiplayerOnlineGame - multiplayer game project
  Copyright (C) 2008-2014 Michael Fink

  Client.wxs - Client install package

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Config.wxi ?>

  <Product Id="$(var.ClientProductId)"
     UpgradeCode="$(var.ClientUpgradeCode)"
     Name="$(var.ClientProductName)"
     Language="1033"
     Version="$(var.Version)" Manufacturer="Michael Fink">

    <Package Id="*"
       Description="$(var.ClientProductName) Setup"
       Comments="This installs $(var.ClientProductName)"
       Manufacturer="Michael Fink"
       InstallerVersion="405"
       InstallPrivileges="elevated"
       AdminImage="no"
       Compressed="yes"
       ShortNames="no"
       Languages="1033"
       Keywords="$(var.ClientProductName)"
       SummaryCodepage="1252"
       Platform="x86" />

    <Media Id="1" Cabinet="data1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VCRedist" SourceFile="$(env.CommonProgramFiles)\Merge Modules\Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MainAppFolder" Name="$(var.ClientProductName)">
          <Directory Id="INSTALLDIR" Name=".">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MainAppShortcutFolder" Name="$(var.ClientProductName)"/>
      </Directory>
    </Directory>

    <Feature Id="ClientApp" Title="MultiplayerOnlineGame Client"
       Description="Installs the MultiplayerOnlineGame client." Level="1"
       AllowAdvertise="no" TypicalDefault="install" ConfigurableDirectory="INSTALLDIR">
      <ComponentGroupRef Id="ClientFiles" />
      <ComponentGroupRef Id="CommonFiles" />
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ 2013 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>

    <Property Id="ALLUSERS"><![CDATA[1]]></Property>

    <Property Id="ARPURLINFOABOUT"><![CDATA[http://www.vividos.de/]]></Property>
    <Property Id="ARPCOMMENTS"><![CDATA[For more information, please visit http://www.vividos.de/]]></Property>
    <Property Id="ARPPRODUCTICON" Value="GameClientShortcutIcon" />
    <Property Id="ARPHELPLINK" Value="http://www.vividos.de/" />

    <Icon Id ="GameClientShortcutIcon" SourceFile="$(sys.SOURCEFILEDIR)..\GameClient\GameClient.ico" />

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="MainAppFolder" />

    <WixVariable Id="WixUILicenseRtf" Value="ClientLicense.rtf" />
    <!--
      <WixVariable Id="WixUIBannerBmp" Value="" />
      <WixVariable Id="WixUIDialogBmp" Value="" />
      <WixVariable Id="WixUIExclamationIco" Value="" />
      <WixVariable Id="WixUIInfoIco" Value="" />
      <WixVariable Id="WixUINewIco" Value="" />
      <WixVariable Id="WixUIUpIco" Value="" />

WixUIBannerBmp 	Top banner 	493 × 58
WixUIDialogBmp 	Background bitmap used on the welcome and completion dialogs 	493 × 312
WixUIExclamationIco 	Exclamation icon on the WaitForCostingDlg 	32 × 32
WixUIInfoIco 	Information icon on the cancel and error dialogs 	32 × 32
WixUINewIco 	Button glyph on the BrowseDlg 	16 × 16
WixUIUpIco 	Button glyph on the BrowseDlg 	16 × 16
      
      -->

    <CustomActionRef Id="InstallOpenAL" />

    <!-- upgrade stuff -->

    <Property Id="UPGRADEGUIDS" Secure="yes" />
    <Property Id="NEWERFOUND" Secure="yes" />

    <!-- upgrade section for all versions -->
    <Upgrade Id="$(var.ClientUpgradeCode)">
      <!-- finds all previous versions and fills UPGRADEGUIDS with all product codes to remove -->
      <UpgradeVersion Maximum="$(var.Version)"
                      IncludeMaximum="no"
                      Property="UPGRADEGUIDS"
                      MigrateFeatures="yes"
                         />

      <!-- finds newer versions and prevents downgrades -->
      <UpgradeVersion OnlyDetect="yes"
                      Property="NEWERFOUND"
                      Minimum="$(var.Version)"
                      IncludeMinimum="no" />
    </Upgrade>

    <CustomAction Id="NoDowngrade" Error="A later version of [ProductName] is already installed." />

    <InstallExecuteSequence>
      <Custom Action="NoDowngrade" After="FindRelatedProducts">NEWERFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize"/>
    </InstallExecuteSequence>

  </Product>

</Wix>
