<?xml version='1.0'?>
<!--

  MultiplayerOnlineGame - multiplayer game project
  Copyright (C) 2008-2014 Michael Fink

  ServerFiles.wxs - Game server components (fragment)

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Config.wxi ?>
  <Fragment>
    <ComponentGroup Id="ServerFiles">

      <Component Id="ConsoleServerExe" Guid="87b9fd0f-5a65-4a1c-b634-9e1dd104c03d" Directory="INSTALLDIR">
        <File Id="ConsoleServerExe" Name="ConsoleServer.exe" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\ConsoleServer.exe" />
      </Component>

      <!--Component Id="DatabaseDll" Guid="3b99f7f2-5d76-4d76-90f4-20975de0e694" Directory="INSTALLDIR">
        <File Id="DatabaseDll" Name="Database.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\Database.dll" />
      </Component-->

      <!--Component Id="ServerExe" Guid="bd076435-fbcf-4fe3-9170-c5a5739d7f71" Directory="INSTALLDIR">
        <File Id="ServerExe" Name="Server.exe" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\Server.exe" />
        <ServiceInstall Id="ServerExeServiceInstall"
                        Name="MultiplayerOnlineGame-Service"
                        DisplayName="$(var.ServerProductName)"
                        Description="Runs the $(var.ServerProductName) server"
                        Type="ownProcess"
                        Start="demand"
                        ErrorControl="normal"
                        Vital="yes"
                        Interactive="no" />
        <ServiceControl Id="ServerExeServiceControl"
                        Name="MultiplayerOnlineGame-Service"
                        Start="install"
                        Stop="uninstall"
                        Remove="uninstall"
                        Wait='yes'/>
      </Component-->

      <Component Id="ServerLogicDll" Guid="b68e2f62-a268-4e15-84da-f706d7d78a8a" Directory="INSTALLDIR">
        <File Id="ServerLogicDll" Name="ServerLogic.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\ServerLogic.dll" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
