<?xml version='1.0'?>
<!--

  MultiplayerOnlineGame - multiplayer game project
  Copyright (C) 2008-2019 Michael Fink

  ClientFiles.wxs - Game client components (fragment)

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Config.wxi ?>
  <Fragment>
    <ComponentGroup Id="ClientFiles" Directory="INSTALLDIR">

      <Component Id="GameClientExe" Guid="*">
        <File Id="GameClientExe" Name="GameClient.exe" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\GameClient.exe" />
      </Component>

      <Component Id="FreetypeDll" Guid="*">
        <File Id="FreetypeDll" Name="freetype6.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\freetype6.dll" />
      </Component>

      <Component Id="AudioDll" Guid="*">
        <File Id="AudioDll" Name="Audio.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\Audio.dll" />
      </Component>

      <Component Id="ClientLogicDll" Guid="*">
        <File Id="ClientLogicDll" Name="ClientLogic.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\ClientLogic.dll" />
      </Component>

      <Component Id="RenderEngineDll" Guid="*">
        <File Id="RenderEngineDll" Name="RenderEngine.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\RenderEngine.dll" />
      </Component>

      <Component Id="Model3dDll" Guid="*">
        <File Id="Model3dDll" Name="Model3D.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\Model3D.dll" />
      </Component>

      <Component Id="TerrainDll" Guid="*">
        <File Id="TerrainDll" Name="Terrain.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\Terrain.dll" />
      </Component>

      <Component Id="UserInterfaceDll" Guid="*">
        <File Id="UserInterfaceDll" Name="UserInterface.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\UserInterface.dll" />
      </Component>

      <Component Id="GameClientShortcut" Guid="*">
        <Shortcut Id="GameClientShortcut"
           Name="$(var.ClientProductName) Client"
           Description="Starts $(var.ClientProductName)"
           Target="[INSTALLDIR]GameClient.exe"
           WorkingDirectory="INSTALLDIR"
           Icon="GameClientShortcutIcon" />
        <RemoveFolder Id="MainAppShortcutFolder" Directory="MainAppShortcutFolder" On="uninstall"/>
        <RegistryValue Root="HKLM" Key="Software\$(var.ClientProductName)\Client" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
