<?xml version='1.0'?>
<!--

  MultiplayerOnlineGame - multiplayer game project
  Copyright (C) 2008-2019 Michael Fink

  CommonFiles.wxs - WiX source file for common files

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Config.wxi ?>
  <Fragment>
    <ComponentGroup Id="CommonFiles" Directory="INSTALLDIR">

      <Component Id="BaseDll" Guid="*">
        <File Id="BaseDll" Name="Base.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\Base.dll" />
      </Component>

      <Component Id="CommonDll" Guid="*">
        <File Id="CommonDll" Name="Common.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\Common.dll" />
      </Component>

      <Component Id="Sdl2Dll" Guid="*">
        <File Id="Sdl2Dll" Name="SDL2.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\SDL2.dll" />
      </Component>

      <Component Id="ZlibDll" Guid="*">
        <File Id="ZlibDll" Name="zlib1.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\zlib1.dll" />
      </Component>

      <Component Id="NetworkDll" Guid="*">
        <File Id="NetworkDll" Name="Network.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\Network.dll" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
