<?xml version='1.0'?>
<!--

  MultiplayerOnlineGame - multiplayer game project
  Copyright (C) 2008-2019 Michael Fink

  Server.wxs - Server install package

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Config.wxi ?>

  <Product Id="$(var.ServerProductId)"
           UpgradeCode="$(var.ServerUpgradeCode)"
           Name="$(var.ServerProductName) Server"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="Michael Fink">

    <Package Id="*"
             Description="$(var.ServerProductName) Setup"
             Comments="This installs $(var.ServerProductName)"
             Manufacturer="Michael Fink"
             InstallerVersion="405"
             InstallPrivileges="elevated"
             InstallScope="perMachine"
             AdminImage="no"
             Compressed="yes"
             ShortNames="no"
             Languages="1033"
             Keywords="MultiplayerOnlineGame Server"
             SummaryCodepage="1252"
             Platform="x86" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VCRedist" SourceFile="$(env.ProgramFiles(x86))\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.20.27508\MergeModules\Microsoft_VC141_CRT_x86.msm" DiskId="1" Language="0" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MainAppFolder" Name="MultiplayerOnlineGame">
          <Directory Id="INSTALLDIR" Name=".">
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ServerApp" Title="MultiplayerOnlineGame Server"
       Description="Installs the MultiplayerOnlineGame server." Level="1"
       AllowAdvertise="no" TypicalDefault="install" ConfigurableDirectory="INSTALLDIR">
      <ComponentGroupRef Id="ServerFiles" />
      <ComponentGroupRef Id="CommonFiles" />
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ 2019 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>

    <Property Id="ARPURLINFOABOUT"><![CDATA[https://github.com/vividos/MultiplayerOnlineGame/]]></Property>
    <Property Id="ARPCOMMENTS"><![CDATA[For more information, please visit https://github.com/vividos/MultiplayerOnlineGame/]]></Property>
    <Property Id="ARPHELPLINK" Value="https://github.com/vividos/MultiplayerOnlineGame/" />

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="MainAppFolder" />

  </Product>

</Wix>
