<?xml version='1.0'?>
<!--

  MultiplayerOnlineGame - multiplayer game project
  Copyright (C) 2008-2019 Michael Fink

  ServerFiles.wxs - Game server components (fragment)

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Config.wxi ?>
  <Fragment>
    <ComponentGroup Id="ServerFiles" Directory="INSTALLDIR">

      <Component Id="ConsoleServerExe" Guid="*">
        <File Id="ConsoleServerExe" Name="ConsoleServer.exe" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\ConsoleServer.exe" />
      </Component>

      <Component Id="DatabaseDll" Guid="*">
        <File Id="DatabaseDll" Name="Database.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\Database.dll" />
      </Component>

      <Component Id="GameServerExe" Guid="*">
        <File Id="GameServerExe" Name="GameServer.exe" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\GameServer.exe" />
        <ServiceInstall Id="GameServerExeServiceInstall"
                        Name="MultiplayerOnlineGame-Service"
                        DisplayName="$(var.ServerProductName)"
                        Description="Runs the $(var.ServerProductName) server"
                        Type="ownProcess"
                        Start="demand"
                        ErrorControl="normal"
                        Vital="yes"
                        Interactive="no" />
        <ServiceControl Id="GameServerExeServiceControl"
                        Name="MultiplayerOnlineGame-Service"
                        Start="install"
                        Stop="uninstall"
                        Remove="uninstall"
                        Wait='yes'/>
      </Component>

      <Component Id="ServerLogicDll" Guid="*">
        <File Id="ServerLogicDll" Name="ServerLogic.dll" DiskId="1" KeyPath="yes" Source="$(var.SourceFolder)\ServerLogic.dll" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
